{% extends "::base.html.twig" %}

{% block mainContent %}

<a href="{{ path("ajouter_ip") }}" class="indexLink">Ajouter Ip</a>
<a href="{{ path("ajouter_isp") }}" class="indexLink">Ajouter Isp</a>
<a href="{{ path("ajouter_domaine") }}" class="indexLink">Ajouter Domaine</a>
<a href="{{ path("ajouter_offre") }}" class="indexLink">Ajouter Offre</a>
<a href="{{ path("ajouter_data") }}" class="indexLink">Ajouter Data</a>
<a href="{{ path("ajouter_bounce") }}" class="indexLink">Ajouter Bounce</a>
<a href="{{ path("ajouter_unsubs") }}" class="indexLink">Ajouter Unsubs</a>
<a href="{{ path("ajouter_campagne") }}" class="indexLink">Ajouter Campagne</a>
<a href="{{ path("afficher_offres") }}" class="indexLink">Afficher Offres</a>
<a href="{{ path("afficher_campagnes") }}" class="indexLink">Afficher Campagnes</a>
<a href="{{ path("afficher_domaines") }}" class="indexLink">Afficher Domaines</a>
<a href="{{ path("afficher_ips") }}" class="indexLink">Afficher Ips</a>
<a href="{{ path("afficher_isps") }}" class="indexLink">Afficher Isps</a>
<a href="{{ path("afficher_datas") }}" class="indexLink">Afficher Data</a>

{% endblock %}